<aside class="sidebar">
  <h2>DigitalCom</h2>
  <ul>
    <li class="nav-item"><a href="/"><i class="fas fa-book"></i> Study Materials</a></li>
    <li class="nav-item"><a href="/simulations"><i class="fas fa-vr-cardboard"></i> Simulations</a></li>
    <li class="nav-item"><a href="/quizzes"><i class="fas fa-question"></i> Quizzes</a></li>
    <li class="nav-item"><a href="/settings"><i class="fas fa-cog"></i> Settings</a></li>
  </ul>
</aside>
